html {
  min-height: 100%; }

body {
  background: #674080;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  position: fixed;
  z-index: 10;
  padding: 1em;
  width: 100%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

header {
  margin: 1em 0 4em 0;
  animation: fadein 1s ease-in; }

header .container {
  margin: 0 auto; }

header h1 {
  font-weight: 200;
  font-size: 1.75rem; }

header h2 {
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 1.25em; }

header p {
  margin: 1em 0 1em 0; }

a {
  line-height: 24px;
  display: inline-block;
  color: #ffffff;
  text-decoration: underline; }

a:hover,
a:active,
a:visited {
  color: #ffffff; }

a.linkedin {
  background: url("../images/linkedin.png") center right no-repeat;
  padding: 0 50px 0 0;
  animation-delay: 1s;
  animation: fadein 1s ease-in;
  line-height: 32px;
  position: relative;
  top: 8px; }

a.ghost {
  background: url("../images/ghost.png") center right no-repeat;
  padding: 0 96px 0 0;
  line-height: 32px;
  animation-delay: 1s;
  animation: fadein 1.5s ease-in; }

a.twitter {
  background: url("../images/twitter.png") center right no-repeat;
  padding: 0 46px 0 0;
  animation-delay: 1s;
  animation: fadein 2s ease-in; }

a.github {
  background: url("../images/github.png") center right no-repeat;
  padding: 0 84px 0 0;
  animation-delay: 1s;
  animation: fadein 2.5s ease-in; }

a.docker {
  background: url("../images/docker.png") center right no-repeat;
  padding: 0 118px 0 0;
  animation-delay: 1s;
  animation: fadein 3s ease-in; }

.opacity-50 {
  opacity: 0.5; }

.available {
  font-size: 0.5em;
  position: relative;
  top: -0.17em; }

footer {
  margin: 8em 0 2em 0;
  font-size: 0.75em;
  animation-delay: 1s;
  animation: fadein 4s ease-in; }
